% -*- Erlang -*-
%% vim: ts=4 sw=4 et ft=erlang

{lib_dirs,["deps"]}.
{src_dirs, ["src", "test"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.

{deps, [
	{mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "HEAD"}},
	{pmod_transform, ".*", {git, "git://github.com/choptastic/pmod_transform.git", "HEAD"}},
	{ranch, ".*", {git, "git://github.com/extend/ranch.git", "HEAD"}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy", "HEAD"}},

    {proper, ".*", {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}
    %{proper_stdlib, ".*", {git, "https://github.com/spawngrid/proper_stdlib.git", {branch, "master"}}}
]}.
