% -*- Erlang -*-
%% vim: ts=4 sw=4 et ft=erlang

{erl_opts, [
    debug_info
]}.

{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.

{src_dirs, ["src", "test"]}.

{deps, [
]}.

{pre_hooks,[
    {"linux|bsd|darwin|solaris", compile, "priv/compat.escript"},
    {"win32", compile, "escript.exe priv\\compat.escript"}
]}.

{profiles, [
    {cowboy, [
        {deps, [ibrowse, cowboy]}
    ]},
    {mochiweb, [
        {deps, [ibrowse, mochiweb]}
    ]},
    {inets, [
        {deps, [ibrowse, mimetypes]}
    ]},
    {webmachine, [
        {deps, [
            ibrowse,
            {webmachine,    {git, "https://github.com/webmachine/webmachine.git", {branch, master}}}
        ]}
    ]},
    {yaws, [
        {deps, [
            ibrowse,
            {yaws, {git, "https://github.com/erlyaws/yaws", {tag, "yaws-2.1.0"}}}
        ]}
    ]}
]}.
            
        
