% -*- Erlang -*-
%% vim: ts=4 sw=4 et ft=erlang

{lib_dirs,["deps"]}.
{src_dirs, ["src","test"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.

{deps, [
    %% GENERATED_DEPS
]}.

{pre_hooks,[
    {"linux|bsd|darwin|solaris", compile, "./crypto_compat.escript"},
    {"win32", compile, "escript.exe crypto_compat.escript"}
]}.
